h1 {
	font-size: 500%;
}

small {
	font-size: 300%;
	text-align: center;
}

.header {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	text-align: center;
	text-shadow: 2px 2px #bbc3ce;


	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}
